@functions {
    string ActiveWhen(string route)
    {
        if ((string)ViewData["Route"] == route)
        {
            return "active";
        }

        return "";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Numeru | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap-5.0.1/css/bootstrap.min.css" />
    <style>
        body:after {
            content: "";
            position: fixed;
            top: 0;
            height: 120vh;
            left: 0;
            right: 0;
            z-index: -1;
            background: url(../img/nebulu_2400_2279.jpg) center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .block {
            background-color: rgba(0, 0, 0, 0.6);
            color: white;
            border-radius: 20px;
            padding: 16px;
        }

        .container {
            max-width: 700px;
        }

        .transparent-dark {
            background: rgba(0, 0, 0, 0.6);
        }

        .navbar__left,
        .navbar__right {
            width: 50px;
        }

        @@media all and (min-width:992px) {
            .navbar__left,
            .navbar__right {
                width: 100px;
            }
        }

        .logo img {
            width: 42px;
        }

        .logo .site-name {
            color: #EBB251;
        }

        .nav-link,
        .nav-link:hover {
            color: #EBB251;
        }

        .nav-link {
            opacity: 0.6;
            transition: all 0.25s;
        }

            .nav-link:hover,
            .nav-link.active {
                opacity: 1;
            }

            .nav-link.active {
                position: relative;
            }

                .nav-link.active::after {
                    content: "";
                    width: 7px;
                    height: 7px;
                    display: block;
                    background: #EBB251;
                    border-radius: 50%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;
                }
    </style>

    <environment exclude="Development">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-WDEVMP30YQ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'G-WDEVMP30YQ');
        </script>
    </environment>

    @RenderSection("MetaData", required: false)
</head>

<body class="pb-3">
    <header>
        <nav class="navbar mb-3 transparent-dark d-flex align-items-center justify-content-between">
            <a class="navbar-brand logo d-flex align-items-center ps-2 navbar__left" href="/">
                <img class="d-block d-lg-none" src="~/img/logo_64_64_trasparent.png" />

                <div class="site-name d-none d-lg-block ms-2">
                    Numeru
                </div>
            </a>

            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link @ActiveWhen("Moment")" asp-controller="Moment" asp-action="Index">Момент</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link @ActiveWhen("Destiny")" asp-controller="Destiny" asp-action="Index">Судьба</a>
                </li>
            </ul>

            <div class="navbar__right">
                <!-- empty -->
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/bootstrap-5.0.1/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
