@model MomentIndexViewModel;

@{
    ViewData["Title"] = "Момент";
}

<style>
    .moment__number {
        position: relative;
        height: 250px;
    }

        .moment__number img {
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            width: 250px;
        }

    .reload__btn {
        max-width: 400px;
    }
</style>

<div class="block text-center">
    Нумерология момента Вашего нахождения здесь предскажет Ваше будущее.
</div>

<div class="mt-1">
    <div class="block">
        <div class="d-flex justify-content-around">
            <div class="text-center">
                <div>
                    <strong>Дата</strong>
                </div>

                <div>@Model.Date.ToString("dd.MM.yyyy")</div>
            </div>

            <div class="text-center">
                <div>
                    <strong>Время</strong>
                </div>

                <div>@Model.Date.ToString("hh:mm:ss")</div>
            </div>
        </div>

        <div class="moment__number d-flex align-items-center justify-content-center w-100">
            <div class="display-1">
                @Model.Number
            </div>

            <img src="~/img/son.svg" />
        </div>

        <div class="mt-4 text-center">
            <button class="btn btn-outline-light rounded-pill w-100 reload__btn">
                Обновить
            </button>

            <div class="mt-1">
                <small>Обратитесь к вселенной с волнующим Вас вопросом</small>
            </div>
        </div>
    </div>
</div>

<div class="block mt-1">
    <div class="mt-2">
        @Model.Description
    </div>

    <div class="mt-2">
        @Model.Prediction
    </div>

    <div class="mt-2">
        <button class="btn btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#calculation-block" aria-expanded="false" aria-controls="calculation-block">
            Рассчет
        </button>

        <div class="row collapse mt-2" id="calculation-block">
            <div class="col-9">
                @foreach (var line in Model.Calculation)
                {
                    <div>@line</div>
                }
            </div>

            <div class="col-3 text-end text-secondary">
                @foreach (var line in Model.CalculationRemark)
                {
                    <div>@line</div>
                }
            </div>
        </div>
    </div>
</div>