@model MomentIndexViewModel;

@{
    ViewData["Title"] = "Момент";
}

<div class="block">
    Нумерология момента Вашего нахождения здесь предскажет Ваше будущее.
</div>

<div class="row m-1">
    <div class="block col-5 text-center">
        <div class="display-1">@Model.Number</div>
        <div>Число момента</div>
    </div>

    <div class="block col-7">
        <div class="d-flex justify-content-around">
            <div class="text-center">
                <div>
                    <strong>Дата</strong>
                </div>

                <div>@Model.Date</div>
            </div>

            <div class="text-center">
                <div>
                    <strong>Время</strong>
                </div>

                <div>@Model.Date</div>
            </div>
        </div>

        <div class="mt-5 text-center">
            <button class="btn btn-outline-light btn-lg rounded-pill w-100">
                Обновить
            </button>

            <div>
                <small>Обратитесь к вселенной с волнующим Вас вопросом</small>
            </div>
        </div>
    </div>
</div>

<div class="block">
    @if (Model.DominantNumber)
    {
        <div>
            <strong>Господствующее число</strong>- благоприятный знак
        </div>
    }

    @if (Model.KarmicNumber)
    {
        <div class="mt-2">
            <strong>Кармическое число</strong>- благоприятный знак
        </div>
    }

    <div class="mt-2">
        @Model.Prediction
    </div>

    <div class="mt-2">
        <strong>Рассчет</strong>

        <div class="row">
            <div class="col-10">
                @foreach (var line in Model.Calculation)
                {
                    <div>@line</div>
                }
            </div>

            <div class="col-2 text-right text-secondary">
                @foreach (var line in Model.CalculationRemark)
                {
                    <div>@line</div>
                }
            </div>
        </div>
    </div>
</div>