@model MomentIndexViewModel
@inject IOpenGraph<MomentView> openGraph
@inject IMetaDescription<MomentView> metaDescription

@{
    ViewData["Title"] = "Момент";
    ViewData["Route"] = "Moment";
}

@section MetaData {
    <meta name="description" content="@metaDescription.Get()" />

    <vc:open-graph title="@openGraph.Title()" description="@openGraph.Description()" />
}

<vc:view-styles from="Views/Moment/Index.css" />

<div class="block text-center">
    Нумерология момента Вашего нахождения здесь предскажет Ваше будущее.
</div>

<div class="mt-1">
    <div class="block">
        <div class="d-flex justify-content-around">
            <div class="text-center">
                <div>
                    <strong>Дата</strong>
                </div>

                <div class="lead">@Model.Date.ToString("dd.MM.yyyy")</div>
            </div>

            <div class="text-center">
                <div>
                    <strong>Время</strong>
                </div>

                <div class="lead">@Model.Date.ToString("HH:mm:ss")</div>
            </div>
        </div>

        <partial name="~/Views/Partials/_Number.cshtml" model="@Model.Number" />

        <div class="mt-2 lead text-center">
            @Model.Prediction
        </div>

        <div class="mt-4 text-center">
            <a role="button" class="btn btn-outline-light rounded-pill w-100 reload__btn" asp-controller="Moment" asp-action="Index">
                Обновить
            </a>

            <div class="mt-1">
                <small>Обратитесь к вселенной с волнующим Вас вопросом</small>
            </div>
        </div>
    </div>
</div>

<div class="block mt-1">
    <partial name="~/Views/Partials/_NumericCalculation.cshtml" model="@Model.Calculation" />
</div>